@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body {
    background: #e5e5e5;
    font-family: 'Lato', sans-serif;
    margin: 0px auto;
    width: 190px;
    height:10%;
}
::selection{
  background: #F36C44;
  color: #FFF;
}
input { outline: none; }

a{
  color: rgba(82,179,217,0.9);
}


.nickname_container {
   background: #F36C44;
   width: 10%;
   height:10%;
   margin: 0;
   padding: 0;
   top: 0;
   left: 0;
   z-index:2000;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.nickname_container span {
	color:#FFF;
}

.nickname_container input {
	text-align:center;
	color:#FFF;
	font-size: 35px;
	height:50px;
	background: #F36C44;
	border:none;
	border-bottom:1px solid #CB5B3B;
	margin:15px 10%;
}

/* Menu */

.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background: #F36C44;
    z-index: 100;
}

.name, .last {
	position: absolute;
    left: 15px;
    font-family: 'Lato';
    cursor: default;
}
.name {
    font-size: 25px;
    font-weight: 300;
    color: rgba(255,255,255,0.98);
    top: 3px;
}
.last{
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6); 
    top: 30px;
}


/* Msgs */

.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;

}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.other .msg {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
}
.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #D4D4D4;
}

.msg span {
	font-size: 0.7rem;
    color: #969898;
}

.msg {
    background: white;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: #777;
}

.info {
	color:#FFF;
	background:#A2A4A4;
}

.msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

/* typping */

input.textarea {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    z-index: 99;
    background: #fafafa;
    border: none;
    outline: none;
    padding:10px;
    color: #666;
    font-weight: 400;
}