@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body {
    background: #F36C44;
    font-family: 'Lato', sans-serif;
    margin: 0px auto;
    height:100%;
}
::selection{
  background: #F36C44;
  color: #FFF;
}
input { outline: none; }

a{
  color: rgba(82,179,217,0.9);
}


.nickname_container {
   background: #F36C44;
   width: 80%;
   height:100%;
   margin : 0;
   padding: 0;
   top: 0;
   left: 0;
   z-index:2000;
   text-align: center;
    float: right;
   display: flex;
   flex-direction: column;*
   justify-content: center;

}

.nickname_container span {
    padding-top: 5%;
	color:#FFF;
    font-family: "Times New Roman";
    font-size: large;
}

.nickname_container input {

	text-align:center;
	color: #F36C44;
	font-size: 35px;
	height:30px;

	border:solid;
    border-radius: 5px;
	border-bottom:1px solid #F36C44;
	margin:10px 10%;
}
.nickname_container select{
    height: 35px;
    width: 30%;
    color: #CB5B3B;

    border-radius: 5px;
}
.nickname_container select option{
    color: #CB5B3B;
    text-decoration: solid;
    font-size: medium;
}


/* Menu position: fixed; */

.menu {
   /* top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    z-index: 100;*/
}

.name, .last {
    font-family:Times New Roman, serif;
    cursor: default;
}
.name {
    margin-left: 60px;
    font-size: 18px;
    font-weight: 400;
    color: darkolivegreen;
    /*color: rgba(255,255,255,0.98);*/
    top: 3px;
}
.last{
    margin-left: 40px;
    font-size: 11px;
    font-weight: 400;
    color: darkolivegreen;
    /*color: rgba(255,255,255,0.6); */
    top: 30px;
}


/* Msgs */

.chat {
    list-style: none;
    background: white;
    position: relative;
    float: right;
    width: 50%;
    height: 400px; overflow-y: scroll;

}

.chat li {
   position: center;
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    margin: 12px;

}


.other .msg {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
}

.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 50px;
    left: 40px;
    width: 0px;
    height: 0px;
  border: 1px navy;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
    color: #32CD32;
}
.self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px darkviolet;
    /*#D4D4D4;*/
}

.msg span {
	font-size: 12px;
    color: green;
}


.msg {
    background: gold;
    width: 50%;
    border-radius: 2px;
   box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}



.info {
	/*color: #32CD32;*/

}

.msg time {
    font-size: 0.9rem ;
    color: white;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}



/* typping */

input.textarea {
    position: fixed;
    bottom: 0px;
    float: right;
    left: 0px;
    right: 0px;
    width: 60%;
    margin-left: 20%;
    z-index: 99;
    background: #fafafa;
    border-radius: 12px;
    box-shadow: 17px 15px 20px 10px rgba(0, 0, 0, 0.19);
    outline: none;
    padding: 25px;
    color: #666;
    font-weight: 400;
}


/*Lista pessao no aceuill*/
.msg2 span{
    background-color: #32CD32;
    border-radius: 5px;
    padding-bottom: 10px;
}


.msg2 ul:defined{
    padding: 5px 70px;
    background-color: darkseagreen;
}

.msg2 ul:nth-child(odd){
    background-color: darkslategray;
}

.msg2 {

    float: left;
    background: darksalmon;
    margin-left: 5px;
    border-radius: 12px;
    max-height: 100px;
    box-shadow: 20px 0px 8px rgba(0, 0, 0, 0.25);
}



/*Aviso dos conectados*/
.aviso ul:defined{
    color: white;
    padding: 5px 70px;
    background-color: darkseagreen;
}

.aviso ul:nth-child(odd){
    color: white;
    background-color: darkslategray;
}

.aviso {

    float: left;
    background: darksalmon;
    margin-left: 5px;
    border-radius: 12px;
    box-shadow: 6px 5px 0px rgba(0, 0, 0, 0.09);
    height: 50px;
    overflow-y: auto;
}



/*Lista des mesmbre que envio messagem*/

.member_list{
    width: 30%;
    margin-left: 10px;
    background-color: #e5e5e5;
    border-radius: 12px 10px;
    box-shadow: 12px 20px 10px rgba(0, 0, 0, 0.15);
}
.member_list .contact_sec {
    margin-top: 3px;
    color: #CB5B3B;
    margin-left: 50px;
    border-radius: 12px;
    box-shadow: 8px 4px 0px rgba(128,128,128,2);

}
.member_list .header_sec{
    margin-left: 40px;
    color: #CB5B3B;
}

.member_list li {
    padding: 4px;
}
.member_list ul {
    border: 1px solid #dddddd;
}
.chat-img img {
    height: 34px;
    width: 34px;
}
.member_list li {
    border-bottom: 1px solid #dddddd;
    padding: 3px;
}
.member_list li:last-child {
    border-bottom:none;
}
.member_list {
    height: 380px;
    overflow-x: hidden;
    overflow-y: auto;
}

.div_rom{
    float: left;
    background-color: darksalmon;
    width: 100px;
    border-right: 1px solid rgba(0, 0, 0, 0.26);
    height: 120px;
    padding: 10px;

    border-radius: 12px 10px;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.15);
}

